!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %title Marvel Universe - Tech Career Booster
    = csrf_meta_tags

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i'

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'third_party'

    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
      integrity: 'sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin: 'anonymous'

    = javascript_include_tag 'application'

  %body
    = render partial: 'layouts/application_navigation_bar'
    = yield
